
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

.navbar {
  background-color: #141414;
  padding: 30px 0; /* primeiro em cima e embaixo e segundo esquerda direita */
  box-shadow: 1px 1px 20px #ccc;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
   color: #fff;
   font-size: 36px;
   font-family: 'Lily Script One', cursive;
}

.navbar .menu {
  list-style: none;
}

.navbar .menu li {
  display:inline ;

}

/* */
.navbar .menu li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  transition: 1s;
}

.navbar .menu li a:hover {
  background-color: #fff;
  color: #000;
}

/*  @media serve para responsividade no mobile*/
@media (max-width: 768px) {
  .navbar .container{
    flex-direction: column ;
  }

  .navbar .logo{
    margin-bottom: 20px;
  }
}

  @media (max-width: 400px) {
    .navbar .menu li{
      display: block;
    }

    .navbar .menu li a{
      display: block;
      text-align: center;
      width: 100%;
    }
  }
